.greenButton {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.redButton {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.customButton:hover {
  background-color: white;
}